* {margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;color: inherit;user-select: none;}

label {display: flex;justify-content: center;align-items: center;width: 500px;height: 250px;border: 1px solid #00000026;border-radius: 5px;font-size: 14px;color: #00000099;margin-top: 10px;}
ul {display: flex;flex-direction: column;gap: 10px;width: 500px;margin-top: 10px;}
li {width: 100%;padding: 10px;border-radius: 5px;border: 1px solid #00000026;font-size: 14px;}